# API Key.  Presently only supports Ticketmaster
API_KEY="YOUR_KEY"

# How many events to show per page
DEFAULT_EVENTS_PER_PAGE=20
VITE_DEFAULT_EVENTS_PER_PAGE=20

# Port to run the Express API Proxy server on
API_PROXY_PORT=4444

# Which hostnames to allow the Vite dev server to respond to
ALLOWED_HOSTNAMES="musemeter.your.domain"
