# API Key.  Presently only supports Ticketmaster
API_KEY="YOUR_KEY"

# How many events to show per page
DEFAULT_EVENTS_PER_PAGE=7
NEXT_PUBLIC_DEFAULT_EVENTS_PER_PAGE=7

# Search radius settings
RADIUS=50
RADIUS_UNIT=miles
