# API Key.  Presently only supports Ticketmaster
API_KEY="YOUR_KEY"

# How many events to show per page
DEFAULT_EVENTS_PER_PAGE=7
VITE_DEFAULT_EVENTS_PER_PAGE=7

# Port to run the Vercel dev server on
VERCEL_DEV_PORT=3000

# Search radius settings
RADIUS=50
RADIUS_UNIT=miles

# Which hostnames to allow the Vite dev server to respond to
ALLOWED_HOSTNAMES="musemeter.your.domain"
